.card {
    height: 100%; /* Задает карточкам одинаковую высоту */
    display: flex;
    flex-direction: column; /* Упорядочивает элементы карточки вертикально */
}

.card-body {
    flex-grow: 1; /* Позволяет телу карточки заполнять оставшееся пространство */
}

.card-img-top {
    height: 200px; /* Устанавливает фиксированную высоту для изображения */
    object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
}